#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
MNEMONIC=
PRIVATE_KEY="your_private_key"

DEPLOYMENT_SALT="your_salt"


SEPOLIA_RPC_URL="https://ethereum-sepolia-rpc.publicnode.com"
SEPOLIA_API_URL="https://api-sepolia.etherscan.io/api"
SEPOLIA_API_KEY=""

ARBITRUMSEPOLIA_RPC_URL="https://arbitrum-sepolia.gateway.tenderly.co"
ARBITRUMSEPOLIA_API_URL="https://api-sepolia.arbiscan.io/api"
ARBITRUMSEPOLIA_API_KEY="V35YB6IYANCD5THE3QVCJ2IVNJN51BD9PT"

BASESEPOLIA_RPC_URL="https://base-sepolia-rpc.publicnode.com"
BASESEPOLIA_API_URL="https://api-sepolia.basescan.org/api"
BASESEPOLIA_API_KEY=""